################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DemoApp/.vs/DemoApp/v16
/DemoApp/DemoApp/obj
